In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\Travel_Guide_Project\Top Indian Places to Visit.csv")

In [3]:
data.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [5]:
data.shape

(325, 16)

In [6]:
data.select_dtypes(include='number').shape

(325, 5)

In [7]:
(data.isnull().sum()/len(data))*100

Unnamed: 0                           0.000000
Zone                                 0.000000
State                                0.000000
City                                 0.000000
Name                                 0.000000
Type                                 0.000000
Establishment Year                   0.000000
time needed to visit in hrs          0.000000
Google review rating                 0.000000
Entrance Fee in INR                  0.000000
Airport with 50km Radius             0.000000
Weekly Off                          90.153846
Significance                         0.000000
DSLR Allowed                         0.000000
Number of google review in lakhs     0.000000
Best Time to visit                   0.000000
dtype: float64

In [8]:
data.duplicated().sum()

np.int64(0)

In [9]:
data.nunique()

Unnamed: 0                          325
Zone                                  6
State                                33
City                                214
Name                                321
Type                                 78
Establishment Year                  162
time needed to visit in hrs          11
Google review rating                 14
Entrance Fee in INR                  33
Airport with 50km Radius              2
Weekly Off                            5
Significance                         25
DSLR Allowed                          2
Number of google review in lakhs    108
Best Time to visit                    7
dtype: int64

In [10]:
data.sample(1)

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
145,145,Central,Madhya Pradesh,Orchha,Orchha Fort,Fort,1500,1.5,4.8,10,No,NaN,Historical,Yes,0.1,Afternoon

In [11]:
data.drop(columns=['Unnamed: 0'],inplace=True)

In [12]:
data.sample(1)

,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
23,Western,Maharastra,Mumbai,Chowpatty Beach,Beach,Unknown,2.0,4.3,0,Yes,NaN,Recreational,Yes,0.05,Evening

In [13]:
data.rename(columns={'Establishment Year':'Established','time needed to visit in hrs':'time to visit','Google review rating':'ratings','Entrance Fee in INR':'entrance fee',
                     'Airport with 50km Radius':'airport nearby','Number of google review in lakhs':'no of review','Best Time to visit':'best time'},inplace=True)

In [14]:
data.columns=data.columns.str.lower()

In [15]:
data.shape

(325, 15)

In [16]:
data.duplicated().sum()

np.int64(0)

In [17]:
data.head()

,zone,state,city,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [18]:
data.describe()

       time to visit     ratings  entrance fee  no of review
count     325.000000  325.000000    325.000000    325.000000
mean        1.807692    4.486154    115.809231      0.408438
std         0.971398    0.274580    530.859785      0.646668
min         0.500000    1.400000      0.000000      0.010000
25%         1.000000    4.400000      0.000000      0.059000
50%         1.500000    4.500000      0.000000      0.170000
75%         2.000000    4.600000     40.000000      0.500000
max         7.000000    4.900000   7500.000000      7.400000

In [19]:
data['time to visit']=(data['time to visit']*60).astype(int)

In [20]:
data['time to visit']

0       30
1      120
2      300
3      120
4      120
      ...
320    180
321    120
322    120
323    120
324    120
Name: time to visit, Length: 325, dtype: int64

In [21]:
(data['no of review']*100000).describe()

count       325.000000
mean      40843.846154
std       64666.844637
min        1000.000000
25%        5900.000000
50%       17000.000000
75%       50000.000000
max      740000.000000
Name: no of review, dtype: float64

In [22]:
data['no of review']

0      2.60
1      0.40
2      0.40
3      0.27
4      0.31
       ...
320    0.18
321    1.30
322    0.15
323    0.51
324    0.63
Name: no of review, Length: 325, dtype: float64

In [23]:
data.head()

,zone,state,city,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,30,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,120,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,300,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,120,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,120,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [24]:
for i in data.select_dtypes(exclude='number').columns:
    print("Column ->", i)
    print(data[i].value_counts())
    print("-"*20)

Column -> zone
zone
Southern         98
Northern         89
Eastern          45
Western          40
Central          39
North Eastern    14
Name: count, dtype: int64
--------------------
Column -> state
state
Uttar Pradesh                  23
West Bengal                    20
Maharastra                     20
Delhi                          19
Karnataka                      19
Himachal Pradesh               18
Andhra Pradesh                 18
Kerala                         16
Madhya Pradesh                 15
Rajasthan                      15
Uttarakhand                    14
Goa                            14
Gujarat                        14
Tamil Nadu                     13
Odisha                         12
Telangana                      11
Ladakh                         10
Assam                           8
Sikkim                          7
Jammu and Kashmir               6
Punjab                          4
Maharashtra                     4
Andaman and Nicobar Islands     4
Bihar                           4
Tripura                         3
Haryana                         3
Puducherry                      3
Jharkhand                       2
Daman and Diu                   2
Chhattisgarh                    1
Arunachal Pradesh               1
Nagaland                        1
Meghalaya                       1
Name: count, dtype: int64
--------------------
Column -> city
city
Delhi          16
Goa            14
Hyderabad      11
Mumbai         10
Kolkata        10
               ..
Neil Island     1
Port Blair      1
Bodh Gaya       1
Kedarnath       1
Cherrapunji     1
Name: count, Length: 214, dtype: int64
--------------------
Column -> name
name
City Palace                       2
Wonderla Amusement Park           2
Thiksey Monastery                 2
Ramanathaswamy Temple             2
Bharatpur Beach                   1
                                 ..
National Gallery of Modern Art    1
National Zoological Park          1
Qutub Minar                       1
National Science Centre           1
Gurudwara Bangla Sahib            1
Name: count, Length: 321, dtype: int64
--------------------
Column -> type
type
Temple                59
Beach                 25
Fort                  22
Lake                  16
National Park         14
                      ..
Rock Carvings          1
Entertainment          1
Commercial Complex     1
Mosque                 1
Race Track             1
Name: count, Length: 78, dtype: int64
--------------------
Column -> established
established
Unknown         111
1950              5
2013              4
1600              4
12th century      4
               ...
2004              1
2011              1
2020              1
1565              1
1727              1
Name: count, Length: 162, dtype: int64
--------------------
Column -> airport nearby
airport nearby
Yes    227
No      98
Name: count, dtype: int64
--------------------
Column -> weekly off
weekly off
Monday     23
Friday      5
Sunday      2
Yes         1
Tuesday     1
Name: count, dtype: int64
--------------------
Column -> significance
significance
Historical            78
Religious             75
Nature                47
Recreational          30
Wildlife              29
Cultural              13
Scenic                10
Shopping               7
Adventure              5
Entertainment          5
Architectural          4
Botanical              3
Environmental          2
Natural Wonder         2
Artistic               2
Scientific             2
Sports                 2
Educational            2
Market                 1
Food                   1
Spiritual              1
Agricultural           1
Archaeological         1
Engineering Marvel     1
Trekking               1
Name: count, dtype: int64
--------------------
Column -> dslr allowed
dslr allowed
Yes    265
No      60
Name: count, dtype: int64
--------------------
Column -> best time
best time
All          164
Morning       88
Afternoon     44
Evening       26
All            1
Anytime        1
Night          1
Name: count, dtype: int64
--------------------

In [25]:
data[data['name']=='City Palace']

,zone,state,city,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
80,Northern,Rajasthan,Udaipur,City Palace,Palace,1559,120,4.4,300,Yes,NaN,Historical,Yes,0.51,All
323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,120,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning

In [26]:
duplicate_names = data['name'][data['name'].duplicated(keep=False)]

data.loc[data['name'].isin(duplicate_names), 'name'] = \
    data.loc[data['name'].isin(duplicate_names), 'name'] + ' ' + data['city']

In [27]:
data['name'].value_counts()

name
Thiksey Monastery Leh                             2
Ramanathaswamy Temple Rameswaram                  2
Bharatpur Beach                                   1
Chhatrapati Shivaji Maharaj Vastu Sangrahalaya    1
India Gate                                        1
                                                 ..
Qutub Minar                                       1
National Science Centre                           1
Marine Drive                                      1
Gateway of India                                  1
Humayun's Tomb                                    1
Name: count, Length: 323, dtype: int64

In [28]:
data=data[~((data['name']=='Thiksey Monastery Leh') & (data['entrance fee']==20))]

In [29]:
data=data[~((data['name']=='Ramanathaswamy Temple Rameswaram')& (data['established']=='Unknown'))]

In [30]:
data.sample(1)

,zone,state,city,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
258,Southern,Andhra Pradesh,Vizianagaram,Simhachalam Temple,Temple,198,60,4.7,0,Yes,NaN,Religious,No,0.59,All

In [31]:
data['type'].nunique()

78

In [32]:
data['type'].unique()

array(['War Memorial', 'Tomb', 'Temple', 'Theme Park', 'Observatory',
       'Market', 'Fort', 'Stepwell', 'Park', 'Museum', 'Zoo', 'Monument',
       'Science', 'Promenade', 'National Park', 'Religious Shrine',
       'Beach', 'Amusement Park', 'Palace', 'Botanical Garden',
       'Government Building', 'Landmark', 'Lake', 'Film Studio', 'Tombs',
       'Bridge', 'Cricket Ground', 'Site', 'Church', 'Waterfall',
       'Bird Sanctuary', 'Historical', 'Cultural',
       'Urban Development Project', 'Wildlife Sanctuary', 'Shrine',
       'Religious Site', 'Memorial', 'Border Crossing',
       'Sculpture Garden', 'Scenic Area', 'Viewpoint', 'Mountain Peak',
       'Cave', 'Mausoleum', 'Vineyard', 'Valley', 'Temples',
       'Prehistoric Site', 'Scenic Point', 'Monastery', 'Tea Plantation',
       'Adventure Sport', 'Trekking', 'Gurudwara', 'Ski Resort',
       'Suspension Bridge', 'Ghat', 'Orchard', 'Confluence', 'Hill',
       'Gravity Hill', 'Village', 'Sunrise Point', 'Dam',
       'Spiritual Center', 'Aquarium', 'Religious Complex', 'Island',
       'River Island', 'Rock Carvings', 'Township', 'Natural Feature',
       'Entertainment', 'Mall', 'Commercial Complex', 'Mosque',
       'Race Track'], dtype=object)

In [33]:
data['type'].value_counts().head(10).index

Index(['Temple', 'Beach', 'Fort', 'Lake', 'National Park', 'Palace', 'Museum',
       'Waterfall', 'Monument', 'Cave'],
      dtype='object', name='type')

In [34]:
type_map = {
    # Religious (kept distinct)
    'Temple': 'Temple',
    'Temples': 'Temple',
    'Mosque': 'Mosque',
    'Church': 'Church',
    'Gurudwara': 'Gurudwara',
    'Monastery': 'Monastery',
    'Mosque': 'Religious Place',
    'Church': 'Religious Place',
    'Gurudwara': 'Religious Place',
    'Monastery': 'Religious Place',

    # Historical / Cultural
    'Fort': 'Fort',
    'Palace': 'Palace',
    'Museum': 'Museum',
    'Monument': 'Monument',
    'Memorial': 'Monument',
    'War Memorial': 'Monument',
    'Tomb': 'Monument',
    'Tombs': 'Monument',
    'Mausoleum': 'Monument',
    'Stepwell': 'Monument',
    'Site': 'Monument',
    'Landmark': 'Monument',
    'Cultural': 'Monument',

    # Nature / Parks
    'National Park': 'Park',
    'Wildlife Sanctuary': 'Park',
    'Bird Sanctuary': 'Park',
    'Zoo': 'Park',
    'Aquarium': 'Park',
    'Botanical Garden': 'Park',
    'Sculpture Garden': 'Park',
    'Park': 'Park',

    # Lakes & Water
    'Lake': 'Lake',
    'River Island': 'Lake',
    'Confluence': 'Lake',
    'Dam': 'Lake',

    # Beaches / Islands
    'Beach': 'Beach',
    'Island': 'Beach',

    # Caves
    'Cave': 'Cave',

    # Hills & Scenic Points
    'Hill': 'Hill',
    'Valley': 'Hill',
    'Mountain Peak': 'Hill',
    'Viewpoint': 'Scenic Point',
    'Scenic Area': 'Scenic Point',
    'Scenic Point': 'Scenic Point',
    'Sunrise Point': 'Scenic Point',
    'Gravity Hill': 'Hill',

    # Adventure
    'Trekking': 'Adventure',
    'Adventure Sport': 'Adventure',
    'Ski Resort': 'Adventure',

    # Entertainment
    'Theme Park': 'Entertainment',
    'Amusement Park': 'Entertainment',
    'Film Studio': 'Entertainment',
    'Market': 'Entertainment',
    'Mall': 'Entertainment',
    'Commercial Complex': 'Entertainment',
    'Promenade': 'Entertainment',
    'Race Track': 'Entertainment',

    # Other (vague or too specific)
    'Urban Development': 'Other',
    'Township': 'Other',
    'Orchard': 'Other',
    'Vineyard': 'Other',
    'Natural Feature': 'Other',
    'Bridge': 'Other',
    'Suspension Bridge': 'Other',
    'Ghat': 'Other',
    'Observatory': 'Other',
    'Science': 'Other',
    'Spiritual Center': 'Other',
    'Religious Site': 'Other',
    'Religious Complex': 'Other',
    'Shrine': 'Other',
    'Entertainment': 'Other'  # Vague as a label
}

In [35]:
data['type']=data['type'].map(type_map).fillna('Other')

In [36]:
data.head(1)

,zone,state,city,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
0,Northern,Delhi,Delhi,India Gate,Monument,1921,30,4.6,0,Yes,NaN,Historical,Yes,2.6,Evening

In [37]:
data.drop(columns=['city'],inplace=True)

In [38]:
data.head(1)

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,1921,30,4.6,0,Yes,NaN,Historical,Yes,2.6,Evening

In [39]:
data['established'].nunique()

162

In [40]:
data['established'].value_counts()

established
Unknown         110
1950              5
2013              4
1600              4
12th century      4
               ...
2004              1
2011              1
2020              1
1565              1
1727              1
Name: count, Length: 162, dtype: int64

In [41]:
mask = pd.to_numeric(data['established'], errors='coerce').isna()

# Filter those "non-convertible" values
non_convertible_values = data.loc[mask, 'established'].unique()

In [42]:
non_convertible_values

array(['Unknown', '12th century', '11th century', 'Ancient',
       '6th century AD', '7th century', '10th century', '14th century',
       '16th century', '1960s'], dtype=object)

In [43]:
period_map = {
    'Unknown': 'Unknown',
    'Ancient': 'Ancient',
    'Prehistoric': 'Prehistoric',
    '6th century AD': 'Ancient',
    '7th century': 'Ancient',
    '10th century': 'Medieval',
    '11th century': 'Medieval',
    '12th century': 'Medieval',
    '14th century': 'Medieval',
    '16th century': 'Medieval',
    '1960s': 'Contemporary'
}

In [44]:
def convert_to_period(x):
    try:
        # Try to cast to int (works for 1800, 1950, etc.)
        year = int(x)
        if year < 500:
            return 'Ancient'
        elif year < 1500:
            return 'Medieval'
        elif year < 1900:
            return 'Modern'
        else:
            return 'Contemporary'
    except:
        # If not a valid int, map manually or default to 'Unknown'
        return period_map.get(x)

In [45]:
data['established']=data['established'].apply(convert_to_period)

In [46]:
data.head(1)

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,weekly off,significance,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,30,4.6,0,Yes,NaN,Historical,Yes,2.6,Evening

In [47]:
data['weekly off'].value_counts()

weekly off
Monday     23
Friday      5
Sunday      2
Yes         1
Tuesday     1
Name: count, dtype: int64

In [48]:
data['weekly off'].fillna('No').value_counts()

weekly off
No         291
Monday      23
Friday       5
Sunday       2
Yes          1
Tuesday      1
Name: count, dtype: int64

In [49]:
data.drop(columns=['weekly off'],inplace=True)

In [50]:
data.head(1)

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,significance,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,30,4.6,0,Yes,Historical,Yes,2.6,Evening

In [51]:
data['entrance fee'].info()

<class 'pandas.core.series.Series'>
Index: 323 entries, 0 to 324
Series name: entrance fee
Non-Null Count  Dtype
--------------  -----
323 non-null    int64
dtypes: int64(1)
memory usage: 5.0 KB

In [52]:
data['entrance fee'].describe()

count     323.000000
mean      116.464396
std       532.439581
min         0.000000
25%         0.000000
50%         0.000000
75%        40.000000
max      7500.000000
Name: entrance fee, dtype: float64

In [53]:
def categorize_fee(x):
    if x == 0:
        return 'Free'
    elif x <= 50:
        return 'Low'
    elif x <= 200:
        return 'Medium'
    elif x <= 1000:
        return 'High'
    else:
        return 'Very High'

In [54]:
data['entrance fee']=data['entrance fee'].apply(categorize_fee)

In [55]:
data.head()

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,significance,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,30,4.6,Free,Yes,Historical,Yes,2.60,Evening
1,Northern,Delhi,Humayun's Tomb,Monument,Modern,120,4.5,Low,Yes,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Akshardham Temple,Temple,Contemporary,300,4.6,Medium,Yes,Religious,No,0.40,Afternoon
3,Northern,Delhi,Waste to Wonder Park,Entertainment,Contemporary,120,4.1,Low,Yes,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Jantar Mantar,Other,Modern,120,4.2,Low,Yes,Scientific,Yes,0.31,Morning

In [56]:
data['time to visit'].value_counts()

time to visit
60     107
120     93
90      60
180     35
300      8
30       6
150      6
240      5
420      1
330      1
360      1
Name: count, dtype: int64

In [57]:
def visit_duration_category(x):
    if x <= 90:
        return 'Short'
    elif x <= 180:
        return 'Moderate'
    else:
        return 'Long'

In [58]:
data['time to visit']=data['time to visit'].apply(visit_duration_category)

In [59]:
data.head()

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,significance,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,Short,4.6,Free,Yes,Historical,Yes,2.60,Evening
1,Northern,Delhi,Humayun's Tomb,Monument,Modern,Moderate,4.5,Low,Yes,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Akshardham Temple,Temple,Contemporary,Long,4.6,Medium,Yes,Religious,No,0.40,Afternoon
3,Northern,Delhi,Waste to Wonder Park,Entertainment,Contemporary,Moderate,4.1,Low,Yes,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Jantar Mantar,Other,Modern,Moderate,4.2,Low,Yes,Scientific,Yes,0.31,Morning

In [60]:
data['ratings'].info()

<class 'pandas.core.series.Series'>
Index: 323 entries, 0 to 324
Series name: ratings
Non-Null Count  Dtype
--------------  -----
323 non-null    float64
dtypes: float64(1)
memory usage: 5.0 KB

In [61]:
data['ratings'].value_counts()

ratings
4.5    70
4.6    64
4.4    55
4.7    46
4.8    26
4.3    17
4.1    15
4.2    15
3.9     6
4.9     3
3.8     3
1.4     1
4.0     1
3.7     1
Name: count, dtype: int64

In [62]:
data.head()

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,significance,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,Short,4.6,Free,Yes,Historical,Yes,2.60,Evening
1,Northern,Delhi,Humayun's Tomb,Monument,Modern,Moderate,4.5,Low,Yes,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Akshardham Temple,Temple,Contemporary,Long,4.6,Medium,Yes,Religious,No,0.40,Afternoon
3,Northern,Delhi,Waste to Wonder Park,Entertainment,Contemporary,Moderate,4.1,Low,Yes,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Jantar Mantar,Other,Modern,Moderate,4.2,Low,Yes,Scientific,Yes,0.31,Morning

In [63]:
data['significance'].value_counts()

significance
Historical            78
Religious             73
Nature                47
Recreational          30
Wildlife              29
Cultural              13
Scenic                10
Shopping               7
Adventure              5
Entertainment          5
Architectural          4
Botanical              3
Environmental          2
Natural Wonder         2
Artistic               2
Scientific             2
Sports                 2
Educational            2
Market                 1
Food                   1
Spiritual              1
Agricultural           1
Archaeological         1
Engineering Marvel     1
Trekking               1
Name: count, dtype: int64

In [64]:
data.drop(columns=['significance'],inplace=True)

In [65]:
data.head()

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,Short,4.6,Free,Yes,Yes,2.60,Evening
1,Northern,Delhi,Humayun's Tomb,Monument,Modern,Moderate,4.5,Low,Yes,Yes,0.40,Afternoon
2,Northern,Delhi,Akshardham Temple,Temple,Contemporary,Long,4.6,Medium,Yes,No,0.40,Afternoon
3,Northern,Delhi,Waste to Wonder Park,Entertainment,Contemporary,Moderate,4.1,Low,Yes,Yes,0.27,Evening
4,Northern,Delhi,Jantar Mantar,Other,Modern,Moderate,4.2,Low,Yes,Yes,0.31,Morning

In [66]:
data['airport nearby'].value_counts()

airport nearby
Yes    225
No      98
Name: count, dtype: int64

In [67]:
data['dslr allowed'].value_counts()

dslr allowed
Yes    265
No      58
Name: count, dtype: int64

In [68]:
data['best time'].value_counts()

best time
All          162
Morning       88
Afternoon     44
Evening       26
All            1
Anytime        1
Night          1
Name: count, dtype: int64

In [69]:
data['best time']=data['best time'].str.strip()

In [70]:
data.loc[data['best time']=='Anytime','best time']='All'

In [71]:
data['best time'].value_counts()

best time
All          164
Morning       88
Afternoon     44
Evening       26
Night          1
Name: count, dtype: int64

In [72]:
data.loc[data['best time']=='Night','best time']='Evening'

In [73]:
data['best time'].value_counts()

best time
All          164
Morning       88
Afternoon     44
Evening       27
Name: count, dtype: int64

In [74]:
data.head()

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,dslr allowed,no of review,best time
0,Northern,Delhi,India Gate,Monument,Contemporary,Short,4.6,Free,Yes,Yes,2.60,Evening
1,Northern,Delhi,Humayun's Tomb,Monument,Modern,Moderate,4.5,Low,Yes,Yes,0.40,Afternoon
2,Northern,Delhi,Akshardham Temple,Temple,Contemporary,Long,4.6,Medium,Yes,No,0.40,Afternoon
3,Northern,Delhi,Waste to Wonder Park,Entertainment,Contemporary,Moderate,4.1,Low,Yes,Yes,0.27,Evening
4,Northern,Delhi,Jantar Mantar,Other,Modern,Moderate,4.2,Low,Yes,Yes,0.31,Morning

In [75]:
data.columns

Index(['zone', 'state', 'name', 'type', 'established', 'time to visit',
       'ratings', 'entrance fee', 'airport nearby', 'dslr allowed',
       'no of review', 'best time'],
      dtype='object')

In [76]:
data['popularity score']=data['ratings'] * np.log1p(data['no of review'])

In [77]:
bins = [0, 10000, 50000, 800000]
labels = ['Low', 'Medium', 'High']

# Apply binning
data['foot fall']=pd.cut((data['no of review']*100000), bins=bins, labels=labels)

In [78]:
data.head()

,zone,state,name,type,established,time to visit,ratings,entrance fee,airport nearby,dslr allowed,no of review,best time,popularity score,foot fall
0,Northern,Delhi,India Gate,Monument,Contemporary,Short,4.6,Free,Yes,Yes,2.60,Evening,5.892296,High
1,Northern,Delhi,Humayun's Tomb,Monument,Modern,Moderate,4.5,Low,Yes,Yes,0.40,Afternoon,1.514125,Medium
2,Northern,Delhi,Akshardham Temple,Temple,Contemporary,Long,4.6,Medium,Yes,No,0.40,Afternoon,1.547772,Medium
3,Northern,Delhi,Waste to Wonder Park,Entertainment,Contemporary,Moderate,4.1,Low,Yes,Yes,0.27,Evening,0.979969,Medium
4,Northern,Delhi,Jantar Mantar,Other,Modern,Moderate,4.2,Low,Yes,Yes,0.31,Morning,1.134114,Medium

In [79]:
data.drop(columns=['ratings','no of review','popularity score','state'],inplace=True)

In [80]:
data.head()

,zone,name,type,established,time to visit,entrance fee,airport nearby,dslr allowed,best time,foot fall
0,Northern,India Gate,Monument,Contemporary,Short,Free,Yes,Yes,Evening,High
1,Northern,Humayun's Tomb,Monument,Modern,Moderate,Low,Yes,Yes,Afternoon,Medium
2,Northern,Akshardham Temple,Temple,Contemporary,Long,Medium,Yes,No,Afternoon,Medium
3,Northern,Waste to Wonder Park,Entertainment,Contemporary,Moderate,Low,Yes,Yes,Evening,Medium
4,Northern,Jantar Mantar,Other,Modern,Moderate,Low,Yes,Yes,Morning,Medium

In [81]:
data.columns

Index(['zone', 'name', 'type', 'established', 'time to visit', 'entrance fee',
       'airport nearby', 'dslr allowed', 'best time', 'foot fall'],
      dtype='object')

In [82]:
user_input = pd.DataFrame([{
    'zone': 'Eastern',
    'type': 'Entertainment',
    'established': 'Modern',
    'time to visit': 'Moderate',
    'entrance fee': 'Free',
    'airport nearby': 'No',
    'dslr allowed': 'No',
    'best time': 'Morning',
    'foot fall': 'Low'
}])

In [83]:
zone_value = user_input.iloc[0]['zone']
filtered_data = data[data['zone'] == zone_value]

In [84]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.neighbors import NearestNeighbors

In [85]:
cols=data.drop(columns=['name']).columns

In [86]:
preprocessor = ColumnTransformer([
    ('cat', OneHotEncoder(handle_unknown='ignore',drop='first',sparse_output=False), cols),
],remainder='drop')

In [87]:
X_all = data.drop(columns=['name'])
preprocessor.fit(X_all)

ColumnTransformer(transformers=[('cat',
                                 OneHotEncoder(drop='first',
                                               handle_unknown='ignore',
                                               sparse_output=False),
                                 Index(['zone', 'type', 'established', 'time to visit', 'entrance fee',
       'airport nearby', 'dslr allowed', 'best time', 'foot fall'],
      dtype='object'))])

In [88]:
if filtered_data.empty or filtered_data.shape[0] < 1:
    print("❌ No recommendations found for the selected zone/state.")
else:
    X_filtered = filtered_data.drop(columns=['name'])
    X_filtered_processed = preprocessor.transform(X_filtered)

    knn = NearestNeighbors(
    n_neighbors=min(3, len(filtered_data)),
    metric='cosine',
    algorithm='brute',   # 'brute' is preferred for cosine
    n_jobs=-1
)
    knn.fit(X_filtered_processed)

    user_processed = preprocessor.transform(user_input)
    distances, indices = knn.kneighbors(user_processed)

    recommended_places = filtered_data.iloc[indices[0]]['name'].values

In [89]:
if len(recommended_places) > 0:
    print("✅ Recommendations in", user_input.iloc[0]['zone'], ":")
    for name in recommended_places:
        print("-", name)
else:
    print("❌ No recommendations found in your selected region.")

✅ Recommendations in Eastern :
- Pemayangtse Monastery
- Chilika Lake
- Eden Gardens

In [90]:
import joblib
joblib.dump(preprocessor, 'preprocessor.pkl')
joblib.dump(data,'data.pkl')

['data.pkl']